/* Off-Canvas */
.inner {
  overflow: hidden;
}
/* Desktop width styles */
.close {
  margin: 1em;
  cursor: pointer;
  color: #fff;
}
 
.close:hover {
  color: #999;
}
 
.close span {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.2em 0.4em;
}
 
@media screen and (max-width: 749px) {
  /* Float content right and make 100% width 
     so this transition works when nav is made visible */
  .inner {
    float: right;
    width: 100%;
    -webkit-transition: 0.5s;
            transition: 0.5s;
  }
  
  .close {
    display: block;
  }

  nav {
    float: right;
    position: fixed;
    left: -70%;
    width: 70%;
    top: 0;
    height: 100%;
    padding: 1em 0;   
    -webkit-transition: left 0.5s;
            transition: left 0.5s;
  }
           
  nav ul {
    border-top: 2px solid #777;    
  }

  nav ul a {
    float: none;
    display: block;
    padding: 1em 0 1em 5%;
    border-bottom: 2px solid #777;
  }

  nav ul a:hover {
    background-color: #363229;
    color: #fff;
  }
   
  :checked ~ .wrapper nav {
    left: 0;
    top: 0;
  }

  :checked ~ .wrapper .inner {
    margin-right: -70%;
  }
}
